:root {
    --grey-900: #141414;
    --grey-800: #1f1f1f;
    --grey-700: #333;

    --primary-color: #c4fb2a;
    --secondary-color: #fff;

    line-height: 150%;
    letter-spacing: 0px;
    font-family: "Inter", serif;

}

.text-preset-1 {
    font-size: 24px;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 14px;
    font-weight: 400;
}

.text-preset-3 {
    font-size: 14px;
    font-weight: 700;
}

body {
    background-color: var(--grey-900);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--grey-800);
    border-radius: 12px;
    margin: 116.5px 24px 0 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 327px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 88px;
    border-radius: 50px;
}

.headline {
    margin: 24px 0;
}

h1 {
    margin: 0 0 4px 0;
}

.location {
    color: var(--primary-color);
    margin: 0 0 24px 0;
}

.list-con {

}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-top: 0;
}

li {
    background-color: var(--grey-700);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 45px;
    width: 279px;
}

li a {
    color: #FFF;
    text-decoration: none;
}

li:hover {
    background-color: var(--primary-color);
    /* color: var(--grey-900); */
}

li:hover a {
    color: var(--grey-900);
  }

@media only screen and (min-width: 600px) {
    
    main {
        width: 384px;
    }

    li {
        width: 304px;
    }
}